<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Doo iT !!!
        link(rel='stylesheet', href='/dist/App.css')
        link(rel='stylesheet',href='/styles/bulma.css')

    body
        form(class="form" action="/register" method="POST")
            div(class="field")
                label(class="label" for="name") Name
                    div(class="control")
                        input(class="input" type="text"  name="name" placeholder="Tell Us Ur Name!")
            div(class="field")
                label(class="label") Email
                    div(class="control" for="email")
                        input(class="input" type="email"  name="email" placeholder="Tell Us Ur Email :)")
            div(class="field")
                label(class="label"  for="password") Password
                    div(class="control")
                        input(class="input" type="password"  name="password" placeholder="Now put a Password to Ur Profile :]")
            div(class="feild ")
                div(class="control")
                    input(class=" button is-link right-side" type="submit" value="Submit !")




