
/*Build a CSS Grid*/
html, body{
height:100%;
width:auto;
  }
body{
    background: url('/images/background.png') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
.form{
  height:auto;
  width:300px;
}